body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: green;
}

.game-name{
  font-size: 70px;
  font-weight: bold;
  color: white;
}


.card{
  width: 250px;
  height: 250px;
  text-align: center;
  margin: 5px;
  display: inline-block;
  background-image: url('./cardmatchimg/pozadina.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

.disabled{
  pointer-events: none;
}

.ace{
  background-image: url('./cardmatchimg/ACE.png');
}

.ten{
  background-image: url('./cardmatchimg/10.png');
}

.j{
  background-image: url('./cardmatchimg/J.png');
}

.queen{
  background-image: url('./cardmatchimg/QUEEN.png');
}

.king{
  background-image: url('./cardmatchimg/KING.png');
}

.end-of-game{
  font-size: 30px;
  font-weight: bold;
  color: white;
}

.end-of-game button{
  padding: 50px 100px;
  font-size: 50px;
  font-weight: bold;
  background-color: red;
  border: 2px solid white;
}

.guessed{
  opacity: 0;
  z-index: -1;
  pointer-events: none;
}