body{
  background-image: linear-gradient(79deg, #298d9e, #65611e 48%, #ebfff0);
}

.navbar {
    position: static;
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 50px
}

.navbar ul li{
   list-style: none;
   display: inline-block;
   margin: 0 20px;
   font-size: 20px
}
.games {
  width: 1366px;
  height: 768px;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  color: blue;
}


.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   color: blue;
   text-align: center;
}
